.mostrarPija {
    float:left;
}

.heart {
    float:left;
    
}
.red-heart {
    color:red;
}

.orange-heart {
    color:orange;
}

.yellow-heart {
    color:yellow;
}

.green-heart {
    color:green;
}

.blue-heart {
    color:blue;
}

.violet-heart {
    color:violet;
}